<div class="breadcrumbs">
    {{#each breadcrumbs}}
    {{#if href}}
    <a href="{{href}}">{{text}}</a> /
    {{else}}
    <span class="breadcrumbs__current-page">{{text}}</span>
    {{/if}}
    {{/each}}
</div>

<div class="content">
    <a href="{{parentHref}}">{{parentPath}}</a>

    <div class="file-content">{{content}}</div>
</div>