<div class="breadcrumbs">
    {{#each breadcrumbs}}
    {{#if href}}
    <a href="{{href}}">{{text}}</a> /
    {{else}}
    <span class="breadcrumbs__current-page">{{text}}</span>
    {{/if}}
    {{/each}}
</div>

<div class="content">
    <ul>
        {{#each files}}
        <li>
            <a href="{{href}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>
</div>