<div class="breadcrumbs">
    {{#each breadcrumbs}}
        {{#if href}}
            <a href="{{href}}">{{text}}</a> /
        {{else}}
            {{text}}
        {{/if}}
    {{/each}}
</div>

<div class="content content--files">
    <ul class="files">
        {{#each files}}
            <li>
                <a class="files__link files__link--{{type}}" href="{{href}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
