<div class="breadcrumbs">
    {{#each breadcrumbs}}
        {{#if href}}
            <a href="{{href}}">{{text}}</a> /
        {{else}}
            {{text}}
        {{/if}}
    {{/each}}
</div>

<div class="content">
    <ul class="git-file-tree">
        {{#each files}}
            <li>
                <a href="{{href}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>