<div class="breadcrumbs">
    {{#each breadcrumbs}}
        {{#if href}}
            <a class="breadcrumbs__item" href="{{href}}">{{text}}</a> /
        {{else}}
            {{text}}
        {{/if}}
    {{/each}}
</div>

<div class="content">
    <ul class="files">
        {{#each files}}
            <li class="file">
                <a class="file__link" href="{{href}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
