{{#each breadcrumbs}}
    {{#if href}}
        <a href="{{href}}">{{text}}</a> / 
    {{else}}
        {{text}}
    {{/if}}
{{/each}}

<ul>
    {{#each files}}
        <li>
            <a href="{{href}}">{{name}}</a>
        </li>
    {{/each}}
</ul>