<div class="breadcrumbs">
    {{#each breadcrumbs}}
    {{#if href}}
    <a href="{{href}}" id="bc-{{text}}">{{text}}</a> /
    {{else}}
    {{text}}
    {{/if}}
    {{/each}}
</div>

<div class="content">
    <ul>
        {{#each files}}
        <li id="{{name}}">
            <a href="{{href}}" id="file-{{name}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>
</div>